html * {
  font-family: 'Quicksand', sans-serif;
}

span img {
  height: 45px;
  width: 55px;
}

.mdl-layout__header-row {
  padding: 0 16px 0 60px;
}

.mdl-layout__title, .mdl-layout-title {
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
}

.mdl-layout__header {
  background-color: $blue;
}

@media only screen and (min-width: 1024px) {
  .mdl-layout__drawer > .mdl-layout-title {
    padding-left: 20px;
  }
}

.mdl-checkbox__label {
  color: $blue;
}

.mdl-layout__drawer {
  width: 250px;
}

.mdl-checkbox.is-upgraded {
  width: calc(100% - 216px);
  margin-left: 6px;
}

.mdl-button {
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: $blue;
}

.mdl-button--primary.mdl-button--primary {
  color: $pink;
}

.mdl-grid {
  text-align: center;
}

.mdl-cell {
  border-radius: 4px;
  background-color: $pink;
}

.auction-card > .mdl-card__title {
  color: $blue;
  background-repeat: no-repeat;
  background-size: contain;
}

.auction-timer {
  text-align: center;
  margin-bottom: 12px;
  line-height: 5vw;
}

.mdl-mini-footer {
  background-color: $blue;
  padding: 16px 16px;
}

.mdl-logo {
  margin-bottom: 8px;
}

a {
  color: $pink;
}

h6 {
  margin: 0 5px 0 5px;
  margin-top: 1.1vw;
  color: $blue;
  font-size: 4vw;
  letter-spacing: .02em;
}

h5 {
  margin: 12px 10px 8px;
  text-align: left;
  color: $blue;
  font-size: 5vw;
  line-height: 1.2;
}

/* mdl - popup */

.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
}

.fab {
  &.login-form, &.info-page, &.bid-form {
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    top: 100px;
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
    transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
    animation-direction: alternate;
  }

  &.active {
    cursor: default;
    background: #FFF;
    border-radius: .125em;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    width: 400px;

    /* height: 250px; */
    box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  }

  &.bid-form.active {
    width: 400px;
    margin-left: -200px;
  }
}

.fab-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 480px) {
  .fab {
    &.active, &.bid-form.active {
      width: 100%;
      left: 0;
      margin-left: 0;
    }
  }
}

.active {
  .fab-icon {
    display: none;
  }

  .protect {
    background: none;
  }
}

.cntt-wrapper {
  display: none;
}

.active .cntt-wrapper {
  display: block;
}

#fab-hdr, #fab-hdr-info {
  padding: 0.1px 0 0.1px 0;
  width: 100%;
  background: $pink;
}

.fab {
  &.login-form #fab-hdr h3, &.info-page #fab-hdr-info h3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  &.bid-form #fab-hdr h3 {
    padding-left: 30px;
    margin-bottom: 4px;
  }
}

#fab-hdr h4 {
  padding-left: 40px;
  padding-right: 30px;
  margin-top: 0;
}

.mdl-icon-toggle__label {
  float: right;
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.4);
  transform: rotate(0);
  transition: transform 0.3s;
}

.getmdl-select.is-focused .mdl-icon-toggle__label {
  color: #3f51b5;
  transform: rotate(180deg);
}

#table-number-box {
  width: 150px;
}

#full-name {
  max-width: calc(100% - 164px);
  margin-right: 10px;
}

.cntt {
  padding: 20px 35px 64px 35px;
  color: #757575;
}

#info-content {
  overflow: auto;
  margin-top: 0.3px;

  p {
    margin: 0;
    padding-bottom: 8px;
  }
}

.btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 8px;
  padding: 6px 16px;

  &.with-confirm {
    width: calc(100% - 32px);
  }
}

#auctionButtons {
  position: relative;
  padding: 0vw 0px;
  margin-top: 1vw;
  margin-bottom: 0;

  button {
    min-width: 0;
    padding: 0 2vw;
    font-size: 3vw;
    height: 6vw;
    line-height: 6vw;
  }
}

.bid-button {
  margin-left: 1vw;
}

.info-button {
  margin-right: 1vw;
}

/* just presenation */

.center {
  margin: 0 auto;
}

.m-t-100 {
  margin-top: 100px;
}

.box {
  height: 300px;
  padding: 100px;
}
