html * {
  font-family: 'Quicksand', sans-serif;
}

span img {
  height: 45px;
  width: 55px;
}

.mdl-layout__header-row {
  padding: 0 16px 0 60px;
}

.mdl-layout__title, .mdl-layout-title {
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
}

.mdl-layout__header {
  background-color: $blue;
}

@media only screen and (min-width: 1024px) {
  .mdl-layout__drawer > .mdl-layout-title {
    padding-left: 20px;
  }
}

.mdl-checkbox__label {
  color: $blue;
}

.mdl-layout__drawer {
  width: 250px;
}

.mdl-checkbox.is-upgraded {
  width: calc(100% - 216px);
  margin-left: 6px;
}

.mdl-button {
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: $blue;
}

.mdl-button--primary.mdl-button--primary {
  color: $pink;
}

.mdl-grid {
  text-align: center;
}

.mdl-cell {
  border-radius: 4px;
  background-color: $pink;
}

.auction-card > .mdl-card__title {
  color: $blue;
  background-repeat: no-repeat;
  background-size: contain;
}

.auction-timer {
  text-align: center;
  margin-bottom: 12px;
  line-height: 5vw;
}

.mdl-mini-footer {
  background-color: $blue;
  padding: 16px 16px;
}

.mdl-logo {
  margin-bottom: 8px;
}

a {
  color: $pink;
}

h6 {
  margin: 0 5px 0 5px;
  margin-top: 1.1vw;
  color: $blue;
  font-size: 4vw;
  letter-spacing: .02em;
}

h5 {
  margin: 12px 10px 8px;
  text-align: left;
  color: $blue;
  font-size: 5vw;
  line-height: 1.2;
}

/* just presenation */

.center {
  margin: 0 auto;
}

.m-t-100 {
  margin-top: 100px;
}

.box {
  height: 300px;
  padding: 100px;
}
